body {
margin: 0;
background: #FCFCFD;
font-family: Lato;
font-weight: 300;
}

.container{
	width: 80%;
	margin: 0 auto;
}

header {
	background: #FF0000;
}

header::after{
	content: "";
	display: table;
	clear: both;
}

.logo{
	float: left;
	padding: 0px 0;
}

nav{
	float: right;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none; 
}

nav li{
	display: inline-block;
	margin-left: 200px;
	padding-top: 45px;
	position: relative;
}

nav a{
	color: #FCFCFD;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 25px;
}

nav a:hover {
	color: #040404;
}

nav a::before {
	content: "";
	display:: block;
	height: 5px;
	background-color: #040404;
	position: absolute;
	top: 0;
	width: 0%;
	transition: all ease-in-out 250px;
}

nav a:hover::before{
	width: 100%;
}

.tg{
	position: relative;
	top: -40;
	left: 500;
}

.footer {
    position:absolute;
    bottom:0;
    width:100%;
}

.textnumerodiariobordo{
	position: relative;
	top: 30;
	left:580;
}

.texttotaldiariobordo{
	position: relative;
	top: 13;
	left:621;
}

.textdatadiariobordo{
	position: relative;
	top: -3;
	left:950;
}

.datadiariobordo{
	position: relative;
	top: -765;
	left:1000;
}
.novo button{
	background-color: #040404;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	position:absolute; 
	top: 200px;
	left: 1500px;
}
.novo button:hover{
	background-color: #FF0000; 
}
.enviar button{
	background-color: #040404;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	position:absolute; 
	top: 650px;
	left: 1500px;
}
.enviar button:hover{
	background-color: #FF0000; 
}
.tg{
	border-collapse:collapse;
	border-spacing:0;
}
.tg td{
	font-family:Arial, sans-serif;
	font-size:14px;
	padding:25px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	border-color:black;
}
.tg th{
	font-family:Arial, sans-serif;
	font-size:14px;
	font-weight:normal;
	padding:10px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	border-color:black;
}
.tg .tg-5ig7{
	font-weight:bold;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif !important;;background-color:#ffffff;
	color:#000000;
	border-color:inherit;
	text-align:center;
	vertical-align:bottom;
	}
.tg .tg-za14{
	border-color:inherit;
	text-align:left;
	vertical-align:bottom;
}
.tg .tg-7zrl{
	text-align:left;
	vertical-align:bottom;
}

.datadiariobordo{
	position: relative;
	top: -765;
	left:1000;
}

.diariobordopesquisa{
	position: relative;
	top: -370;
	left:1418;
}

.textdatediario{
	position: relative;
	font-family:Arial, sans-serif;
	font-size:80px;
	top: -500;
	left:1400;
}